
	<div class="portal_background" style="background-image: url(<%= @photo.image.url %>)">
		<div class="portal_form">
			<%= render "shared/portal_form", action: session_url, value: "Login" %>

			<%= link_to "Create an account!", new_user_url %>
			<%= link_to "Forgot your password?", new_password_reset_url %>

		</div>
	</div>
