<h1>Reset Your Password</h1>

<form action="<%= password_reset_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">

  <p>
    <label>Email Address
      <input type="text" name="user[email]">
    </label>
  </p>

  <input type="submit" value="Reset Password">
</form>

<%= button_to "Nevermind, I remembered.", new_session_url, method: :get %>