<section class="home_page">


</section>


<script text="application/json" id="bootstrapped_current_user_id">
	<%= self.current_user.id.to_json.html_safe %>
</script>

<script text="application/json" id="bootstrapped_regions">
	<%= self.current_user.regions.to_json.html_safe %>
</script>

<script text="application/json" id="bootstrapped_photos">
	<%= Photo.all.to_json.html_safe %>
</script>

<script text="application/json" id="bootstrapped_users">
	<%= User.all.to_json.html_safe %>
</script>

<script text="application/json" id="bootstrapped_favorite_photos">
	<%= self.current_user.favorite_photos.to_json.html_safe %>
</script>

<script>

	$(document).ready(function(){
		$('.fancybox').fancybox({
			helpers: {
				overlay: {
					css: {'background' : 'rgba(7, 0, 2, 0.90)'}
				}
			}
		});
		
	  ImgurClone.initialize(
			$('#bootstrapped_current_user_id').html(), 
			$('#bootstrapped_photos').html(), 
			$('#bootstrapped_users').html(), 
			$('#bootstrapped_regions').html(),
			$('#bootstrapped_favorite_photos').html()
		);
	});
	
	$(document).bind('drop', function (e) {
	    e.preventDefault();
	});

	$(document).bind('dragover', function (e) {
	    e.preventDefault();
	});
	
</script>
