

.favorites-container{
	width: 1000px;
	margin: auto;
	height: 800px;
	margin-top: 50px;
}

.favorite-photos-white-space{
	width: 200px;
	height: 760px;
	float: left;
	background: black;
	padding: 20px 0px;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
}

#favorite-photos-container{
	margin: 0px;
	padding: 0px;
	background-color: black;
	margin: auto;
	width: 180px;
	height: 760px;
	overflow-y: scroll;	
}

.favorite-photo{
	width: 130px;
	margin: auto;
	height: 130px;
	margin-bottom: 20px;
}

.favorite-photo > a{
	width: 130px;
	height: 130px;
	float: left;
	background: yellow;
}

.favorite-photo > a > img{
//	margin-left: 24px;
	width: 130px;
	height: 130px;
//	border: 4px solid rgb(77,188,233);
	border: 4px solid rgb(209,231,81);
	border-radius: 5px;
}

#favorites-map{
	width: 800px;
	height: 800px;
	float: right;	
}

.favorite-popup > img{
	width: 100%;
}

.favorite-popup h2{
	color: black;
//	color: rgb(77,188,233);
	font-size: 20px;
}

.leaflet-popup-content-wrapper{
	//background: rgb(209,231,81);
//	background: rgb(77,188,233);
	background: rgb(238,240,243);
	border-radius: 10px;
}
















