// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header, nav, div, ul, li, p, a{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
	font-family: inherit;
  vertical-align: baseline;
}

body{
	font-family: sans-serif;
}

a{
	text-decoration: none;
}

ul, li{
  list-style: none;
}

header{
//	background-color: rgb(255,255,255);
	background-color: black;
  height: 42px;
}

nav{
  width: 1000px;
  margin: auto;
  height: 42px;
}

#home_link{
  height: 40px;
  float: left;
}

#home_link > a{
  display: block;
  height: 100%;
  width: 100%;
	font-size: 26px;
	font-weight: bold;
	color: rgb(209,231,81);
}

#home_link p{
	margin-top: 6px;
}

#nav_buttons{
  float: right;
	margin: 4px;
	height: 40px;
	width: auto;
}

#image_upload{
	display: block;
	padding: 10px;
	float: left;
}

#image_upload > a:link{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: rgb(209,231,81);
}

#image_upload > a:visited{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: rgb(209,231,81);
}

#username:hover + .sibling{
	display: block;
};

#username_dropdown{
	display: block;
	float: left;
}

#username_dropdown li{
	display: block;
	padding: 10px;
	float: left;
}

#username_dropdown a{
	font-size: 16px;
	font-weight: bold;
	color: rgb(209,231,81);
}

#username{
	display: block;
	padding: 10px;
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: rgb(77,188,233);
}

#username p{
	display: block;
	width: 100%;
	height: 100%;
}

#username_dropdown input{
	background-color: black;
	font-size: 16px;
	font-weight: bold;
	color: rgb(209,231,81);
}

#username_dropdown input:hover{
	cursor: pointer;
}

#portal_buttons{
  float: right;
}

#portal_buttons div{
	padding: 0px 10px;
  float: left;
	height: 40px;
}

#portal_buttons a{
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	font-size: 16px;
	font-weight: bold;
	color: rgb(209,231,81);
}

#portal_buttons p{
	margin-top: 10px;
}



