body, section, div, img,  a, figure, input{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul, li{
  list-style: none;
}

body{
	background-color: rgb(77,188,233);
	font-family: sans-serif;
	font-size: 16px;
	height: 1400px;
}

a{
	text-decoration: none;
}

.my_images_header{
	width: 802px;
	margin: auto;
	background: black;
	border: 8px solid rgb(209,231,81);
	border-radius: 5px;
}

.my_images_header p{
	display: block;
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin: 6px 0px 0px 6px;
}

.my-images{
	width: 1000px;
	height: 100%;
	margin: auto;
	margin-top: 40px;
}

#edit-form{
	background: black;
	height: 700px;
	width: 600px;
	padding: 20px;
	margin: auto;
	margin-top: 15px;
}

#edit-name{
	display: block;
	width: 400px;
	height: 30px;
	margin: auto;
	border: 6px solid rgb(77,188,233);
	border-radius: 6px;
	font-size: 24px;
	outline: none;
}

#edit-form-photo{
	height: 400px;
	width: 500px;
	margin: auto;
	background: white;
	margin-top: 15px;
	border: 6px solid rgb(77,188,233);
	border-radius: 6px;
}

#edit-form-photo > img{
	width: 100%;
	height: 100%;
}

#edit-description{
	display: block;
	width: 500px;
	height: 60px;
	margin: auto;
	border: 0px;
	overflow-y: scroll;
	border: 6px solid rgb(77,188,233);
	border-radius: 6px;
	margin-top: 20px;
	font-size: 16px;
	resize: none;
	outline: none;
	overflow: auto;
}

#edit-delete-button{
	display: block;
	width: 512px;
	height: 40px;
	margin: auto;
	margin-top: 15px;
	background: rgb(245,169,235);
	color: black;
}

#messages{
	background: red;
	width: 500px;
	height: 100px;
}