// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, section, div, img,  a, figure, input{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul, li{
  list-style: none;
}

body{
	background-color: rgb(77,188,233);
	font-family: sans-serif;
	font-size: 16px;
	height: 1400px;
}

a{
	text-decoration: none;
}

.photo_index{
  height: 880px;
  width: 1000px;
  margin: auto;
}

.white_space{
	background-color: rgb(255,255,255);
	width: 900px;
	height: 900px;
	padding: 50px;
	margin: 30px 0px;
	border-radius: 20px;
}

.images_index{
	background-color: rgb(255,255,255);
  width: 900px;
//  margin: auto;
	height: 800px;
	overflow-y: scroll;
}


.photo_row{
	border-bottom: 1px rgb(209,231,81);
	height: 220px;
}

.photo_row:first-of-type{
		border-top: rgb(209,231,81);
}

.photo_grid_cell{
	display: inline-block;
	height: 180px;
	width: 180px;
	border: 8px solid rgb(238,240,243);
	border-radius: 10px;
	margin: 4px;
	margin-top: 12px;
	margin-right: 8px;
	float: left;
}

.photo_grid_cell:first-of-type{
	margin-left: 40px;
}

.images_index a{
	display: block;
	height: 100%;
}

.images_index img {
  width: 100%;
	height: 100%;
}

.photo_index h1{
  text-align: center;
	text: red;
}


////////////////////////////////////////////////


//SHOW

.photo_object{
  border: 1px solid blue;
  width: 600px;
  float: left;
}

.photo_object h1, p, .image_show_votes, .comments{
  padding: 10px;
}

.image_show_votes, .comments{
    border-bottom: 1px solid blue;
}

.image_show_votes{
  height: 50px;
}

.image_show_votes div{
  height: 40px;
  float: left;
}



.browse_buttons{
  width: 300px;
  height: 50px;
  float: right;
}

.browse_buttons p{
	background: lightgrey;
  width: 100px;
  height: 30px;
  display: inline-block;
  float: left;
}

.favorite_buttons{
  width: 300px;
  height: 50px;
  float: right;
	color: lightgrey;
}

.favorite_buttons input{
  width: 100px;
  height: 30px;
  display: block;
  float: left;
	color: black;
	background-color: lightgrey;
}

.standard_map{
  width: 300px;
  height: 300px;
  border: 1px solid blue;
  float: right;
}

.standard_map img {
    width: 100%;
    height: auto;
}

.directions{
  width: 300px;
  height: auto;
  border: 1px solid blue;
	border-top: 0px;
  float: right;
}

// Toggle Classes
//.obscure-background{
//	
//}