div, section, img, p, h2{
  margin: 0px;
  border: 0px;
  padding: 0px;
	font-family: inherit;
  font-size: 100%;
	vertical-align: baseline;
}

a{
	text-decoration: none;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

.photo_show{
	width: 100%;
}

.photo-detail-container{
	width: 1000px;
	height: 900px;
	margin: auto;
	margin-top: 30px;
}

//ADJACENT PHOTOS VIEW
//
//.adjacent-photos-view{
//	width: 100%;
//	height: 150px;
//	padding: 0px 20px;
//	background: lightblue;
//}
//
//.adjacent_photo_container{
//	width: 15%;
//	height: 130px;
//}
//
//.adjacent_photo_container img{
//	width: 100%;
//	height: 100%;
//}

// MAIN CONTENT VIEW
// //MAIN PHOTO
.main-photo-content{
	background: black;
//	background: white;
	border-radius: 10px;
	width: 623px;
	height: auto;
	float: left;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.main-photo{
	background: black;
	height: auto;
	display: block;
	width: 580px;
	margin: auto;
	margin-top: 20px;
}

.main-photo-content h2{
	font-size: 24px;
	color: rgb(77,188,233);
	color: rgb(209,231,81);
	padding: 10px 7px;
}

.image_show{
  width: 560px;
  margin: auto;
	padding: 0px;
  height: 450px;
	border: 6px solid rgb(238,240,243);
	border-radius: 4px;
}

.image_show img{
	display: block;
	width: 100%;
	height: 100%;
}

.main-photo p{
	background: black;
	color: white;
	display: block;
	min-height: 40px;
	width: 560px;
	margin: auto;
	margin-top: 10px;
}

// //votes
.votes-container{
	width: 560px;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	border: 6px solid  rgb(77,188,233);
	border-radius: 4px;
}


.button-wrap{
	margin: 6px 5px ;
	width: 48px;
	height: 48px;
	background: white;
	float: left;
	border-radius: 10px;
}

.button-wrap:first-of-type{
	margin-left: 15px;
}

#upvote-button-png{
	width: 48px;
	height: 48px;
	background: url('upvote.png');
	cursor: pointer;
}

#downvote-button-png{
	width: 48px;
	height: 48px;
	background: url('downvote.png');
	cursor: pointer;
}

.votes-container input:first-of-type{
	margin-left: 5px;
}

#favorite-button{
	margin: 6px 10px;
	height: 48px;
	font-size: 16px;
	width: 101px;
	background: white;
	border-radius: 10px;
}

#upvotes-bar-container{
	margin: 6px 12px;
	width: 280px;
	height: 48px;
	float: left;
	background: rgb(245,169,235);
	border-radius: 10px;
}

#upvotes-bar{
	height: 48px;
	width: 0%;
	background: rgb(169,245,179);
	border-radius: 10px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.upvote-clicked{
	background: rgb(169,245,179);
}

.downvote-clicked{
	background: rgb(245,169,235);
}

// //favorites
.favorite-clicked{
	background: rgb(191, 93, 240) !important;
}

// //comments
.comments-container{
	width: 560px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	border: 6px solid  rgb(77,188,233);
	border-radius: 4px;
	margin-top: 20px;
}

#new-post-container{
//	margin-top: 5px;
//	padding: 5px;
}

#comment-input{
	width: 500px;
	height: 30px;
	float:left;
}

#new-comment-submit{
	width: 60px;
	height: 30px;
	background: rgb(209,231,81);
	float:left;
}

#existing-posts-container{
	min-height: 20px;
}

#existing-posts-container > h3{
	color: rgb(209,231,81);
}

.comment-li{
	min-height: 70px;
	margin-left: 30px;
	position: relative;
}

.nest-collapse{
	width: 20px;
	height: 20px;
	position: absolute;
	left: -20px;
	border-radius: 4px;
}

.comment-buttons{
	background: pink;
}

.article-content{
	border: 2px solid rgb(77,188,233);
	border-right: 0px;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 10px;
	color: white;
	padding: 5px;
}

.p-username{
	color: rgb(209,231,81);
}

.reply-post-form{
	display: none;
}

.display-reply{
	display: block;
}


//SHOW SIDEBAR VIEW

.show-sidebar{
	background: black;
	border-radius: 10px;
	width: 350px;
	height: auto;
	float: right;
}
// //nav buttons

.navigation{
	border: 2px solid rgb(77,188,233);
	border-radius: 4px;
	width: 300px;
	margin: auto;
	margin: 20px;
	color: black;
}

.nav_button{
	float: right;
	height: 40px;
	width: 148px;
	font-size: 16px;
	border-left: 1px rgb(77,188,233);
}

.nav_button:first-of-type{
	border-left: 0px;
	border-right: 1px solid rgb(77,188,233);
};

.nav_button > a{
	display: block;
	padding: 3px 40px;

	font-size: 30px;
}

.nav_button a:visited, a:link{
	color: white;
}

#photo-directions{
	width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid blue;
}

.hide_button{
	display: none;
}

// //map

#photo-map{
	width: 300px;
	height: 300px;
	margin: auto;
	margin-bottom: 20px;
}

#map{ 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

// // region form
#save-region-form{
	border: 2px solid rgb(77,188,233);
	border-radius: 4px;
	width: 296px;
	margin: auto;
	margin-bottom: 20px;
}

#save-region-form > input{
	height: 30px;
	display: block;
	width: 100%;
}

#save-region-form > input:last-of-type{
	background:  rgb(209,231,81);
}

//#photo_directions{
//	display: none;
//}