div, select, option{
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	font-family: sans-serif;
}

.regions-container{
	width: 1000px;
	margin: auto;
	height: auto;
	margin-top: 20px;
}

#region-header{
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	width: 190;
	height: 40px;
	margin-bottom: 20px;
}

#region-map{
	width: 1000px;
	height: 760px;
}

.region-select{
	height: 38px;
	width: 380px;
	padding: 0px 20px;
	font-size: 24px;
//	border-bottom: 1px solid red;
//	border-radius: 10px;
	background: transparent;
	background: url('downarrow.png') no-repeat right center;
	background-size: 24px;
	-webkit-appearance: none;
}

.region-select > option{

}

.new_region_form{
	font-size: 24px;
	display: block;
	margin-top: 0px;
	height: 38px;
	width: 200px;
	float: right;
}

.new_region_form:first-of-type{
	length: 250px;
	background: rgb(209,231,81);
	color: black;
	border-radius: 10px;
}

.new_region_form:first-of-type{
	length: 250px;
//	background: ;
}

.region-popup{
	width: 400px;
	height: 400px;
}

.region-popup > img{
	width: 100%;
} 
