// Place all the styles related to the Regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div, img, section, p, input{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body{
	height: 100%;
}

section h1{
	font-size: 24px;
	text-align: center;
	width: auto;
	margin: auto;
}

.my_regions{
	width: 810px;
	margin: auto;
	
}

.region_images{
	float: left;
	width: 224px;
}

.region_images_index{
	margin: 10px;
	width: 200px;
	height: 200px;
}

.region_images_index img{
	width: 100%;
	height: 100%;
}

.my_regions .region_map{
	margin-top: 10px;
	float: right;
}

