<li class="comment-li">

	<% var children = comments.filter(function(comment){ %>
		<% return comment.get("parent_comment_id") === top_level_comment.get("id") %>
	<% }) %>

	<% if (children.length > 0) { %>	
		<input type="submit" value="+" class="nest-collapse" id="nest-collapse-<%= top_level_comment.escape('id') %>" data-id="<%= top_level_comment.escape('id') %>">
	<% } %>

	
	<article class="article-content">
	
		<p><%= ImgurClone.UsersCollection.get(top_level_comment.escape("commenter_id")).escape("username") %></p>
		<p><%= top_level_comment.escape("body") %></p>
	
		<a href="#" class="reply-link" data-id="<%= top_level_comment.escape('id') %>">Reply</a>
		
		<form class="reply-post-form" id="reply-<%= top_level_comment.escape('id') %>">
			<input type="text" id="comment-input-<%= top_level_comment.escape('id') %>" placeholder="Reply to this comment" name="comment[body]"></input>

			<input id="comment-submit" type="submit" value="Save" data-id="<%= top_level_comment.escape('id') %>"></input>
		</form>

		
	</article>
	
	<ul class="nested-comment-<%= top_level_comment.escape('id') %>" class="nested-ul">
	
	</ul>
	
</li> 
