
<h2><%= photo.escape('title') %></h2>

<div class="image_show">
	<a href="<%= photo.escape('image_url') %>" class="fancybox"><img src="<%= photo.escape('image_url') %>"></img></a>
</div>

<p><%= photo.escape('description') %></p>

