<section class="upload-form">

	<input type="file" name="photo[image]" id="fileupload" value="Browse Your Computer"></input>

	
	<div class="image_selection" id="image_selection_container" style="display:none">
		<div id="fileselect">
			<p class="fileselect_ps" id="fileselect_p">Browse Your Computer!</p>
		</div>

		<div class="dropzone_div" id="dropzone">
			<p id="dropzone_p">DropZone!</p>
		</div>
	</div>
	
	<div id="progress_bar" style="display:none">
	</div>
	
	<div id="initial_update_form" style="display:none">
		<input type="text" id="initial_title" name="photo[title]" placeholder="Title"></input>
		
		<div class="new_upload_preview">
			
		</div>
		
		<textarea name="photo[description]" id="initial_description" placeholder="Description"></textarea>
		
		<div id="initial_update_buttons_wrap">
			<input type="submit" class="update_destroy_buttons" value="Add Photo" id="update_image"></input>
			<input type="submit" class="update_destroy_buttons" value="Cancel" id="destroy_image"></input>
		</div>
	</div>

	<div id="upload_error" style="display:none">
		<p>Sorry! We cannot upload your image if it does not contain a location! <p>
		<p>Please try <strong><a target="blank" href="http://imgur.com">Imgur...</a></strong></p>
	</div>

	
</section>
	


