<!DOCTYPE html>
<html>
<head>
  <title>ImgurClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless current_user %>
    <%= render "headers/portal" %>
  <% end %>

  <!-- <% if flash[:errors] && !flash[:errors].empty? %>
    <% flash[:errors].each do |error| %>
      <p class="errors"><%= error %><p>
    <% end %>
  <% end %> -->


<%= yield %>

</body>
</html>
